body{margin: 30px; padding: 0px; background: rgb(211, 207, 207);}
#page{width: 960; height: 1300px; background: white; margin: 0px auto; 
    padding: 20px; box-shadow: 10px 10px 10px rgb(87, 86, 86);}
#content{height: 1100px;}
#top{padding: 20px; background: rgb(228, 226, 226);}
a{text-decoration: none; color: rgb(224, 147, 147); font-size: 20px;}
a:hover{background: rgb(173, 169, 169); color: white;}
.subTitle{text-align: center; color: rgb(109, 105, 105);}
#divSearch{width: 900px; border: 5px dotted pink; padding: 10px; margin: 0px auto;
            margin-bottom: 10px;}
#bottom{text-align: center; color: rgb(109, 105, 105); padding: 50px;}
#tbl{width: 900px; margin: 0px auto;}
#tbl td{border: 1px solid pink; padding: 5px; font-size: 20px;}
#tbl .title{text-align: center; background: pink; color: rgb(109, 105, 105);}
#tbl .row:hover{background: pink; color: white;}
#divPage{text-align: center;  color: rgb(109, 105, 105); padding: 10px;}

#darken-background {
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    height:100%;
    display:none;
    background:rgba(0, 0, 0, 0.5);
    z-index:10000;
    overflow-y:scroll;
}
#lightbox {
    width:700px;
    margin:20px auto;
    padding:15px;
    border: 1px solid #333333;
    border-radius:5px;
    background:white;
    box-shadow:0px 5px 5px rgba(34, 25, 25, 0.4);
    text-align:center;
}